<!-- $Id: applicationContext.xml 17022 2012-08-13 09:38:45Z ganesan $ -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jms="http://www.springframework.org/schema/jms" xmlns:jee="http://www.springframework.org/schema/jee"
xmlns:mvc="http://www.springframework.org/schema/mvc"

	xsi:schemaLocation="
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd	
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-2.5.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">


	<bean id="dynamicRoute" class="com.routes.EZMDynamicRouter"/> 

	<!-- <bean id="messagingAggregationStrategy" -->
	<!-- class="com.easymed.notificationsManager.routing.QEAggregationStrategy" 
		/> -->

	<!-- <bean id="qe_splitter" class="com.easymed.notificationsManager.routing.QESplitterBean" 
		/> -->




	<jee:jndi-lookup id="connectionFactory" jndi-name="java:/ConnectionFactory" />


	<camelContext id="camel" trace="true"  xmlns="http://camel.apache.org/schema/spring">
		<route>
			<from uri="jms:queue:EZMQueue?concurrentConsumers=1" />
			<bean ref="dynamicRoute" method="route" />
			<to uri="mock:result" />
		</route>
		
		<route>
			<from uri="seda:clickatell" />
			<to uri="jms:queue:EZMQueue" />
		</route>

		<route>
			<from uri="seda:upsidewireless" />
			<to uri="jms:queue:EZMQueue" />
		</route>

		<!-- routes for email -->
		<route>
			<from uri="seda:email" />
			<to uri="jms:queue:EZMQueue" />
		</route>
		<route>
			<from uri="seda:push" />
			<to uri="jms:queue:EZMQueue" />
		</route>
		<route>
			<from uri="seda:hl7" />
			<to uri="jms:queue:EZMQueue" />
		</route>

	</camelContext>



	<bean id="senderBean" class="com.controller.producer.JMSContext">
		<constructor-arg index="0" ref="camel" />
	</bean>





	


</beans>